logging:
  level:
    root: INFO
    com.zaxxer.hikari: DEBUG
    org.hibernate: INFO
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

security:
  key:
    private: classpath:app.key
    public: classpath:app.pub

spring:
  threads:
    virtual:
      enabled: true

  jpa:
    open-in-view: false